﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CrearUser.aspx.cs" Inherits="_IPC2_Practica2.Paginas.CrearUser" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p>
    </p>
    <p>
    </p>
    <p>
        <table style="width:100%;">
            <tr>
                <td>&nbsp;</td>
                <td style="font-size: x-large; font-weight: bold">Crear Usuario</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: large; font-weight: bold">Usuario</td>
                <td>
                    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: large; font-weight: bold">Password</td>
                <td>
                    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: large; font-weight: bold">Nombre</td>
                <td style="height: 22px">
                    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                </td>
                <td style="height: 22px"></td>
            </tr>
            <tr>
                <td style="font-size: large; font-weight: bold">Apellido</td>
                <td>
                    <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: large; font-weight: bold">&nbsp;</td>
                <td>
                    <asp:Button ID="Button1" runat="server" CssClass="btn-info" 
                        OnClick="Button1_Click" Text="Crear Usuario" Width="125px" />
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </p>
</asp:Content>
